# Calculate seasonal indecies

In [1]:
import numpy as np
import pandas as pd

# Sample data: Monthly rainfall data for 3 years
data = {
    'Year': [2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018,
             2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019,
             2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020],
    'Month': ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']*3,
    'Rainfall': [78, 64, 59, 47, 39, 42, 35, 30, 45, 55, 60, 70,
                 85, 70, 65, 50, 40, 45, 38, 33, 48, 57, 62, 75,
                 80, 66, 62, 49, 41, 44, 36, 31, 46, 56, 61, 72]
}

# Create DataFrame
df = pd.DataFrame(data)

# Calculate the monthly average rainfall
monthly_avg = df.groupby('Month')['Rainfall'].mean()

# Calculate the overall monthly average rainfall
overall_monthly_avg = df['Rainfall'].mean()

# Calculate the seasonal indices
seasonal_indices = (monthly_avg / overall_monthly_avg) * 100

# Display the results
seasonal_indices = seasonal_indices.reset_index().rename(columns={'Rainfall': 'Seasonal Index'})
print(seasonal_indices)

   Month  Seasonal Index
0    Apr       90.495868
1    Aug       58.264463
2    Dec      134.504132
3    Feb      123.966942
4    Jan      150.619835
5    Jul       67.561983
6    Jun       81.198347
7    Mar      115.289256
8    May       74.380165
9    Nov      113.429752
10   Oct      104.132231
11   Sep       86.157025

In [2]:
df

    Year Month  Rainfall
0   2018   Jan        78
1   2018   Feb        64
2   2018   Mar        59
3   2018   Apr        47
4   2018   May        39
5   2018   Jun        42
6   2018   Jul        35
7   2018   Aug        30
8   2018   Sep        45
9   2018   Oct        55
10  2018   Nov        60
11  2018   Dec        70
12  2019   Jan        85
13  2019   Feb        70
14  2019   Mar        65
15  2019   Apr        50
16  2019   May        40
17  2019   Jun        45
18  2019   Jul        38
19  2019   Aug        33
20  2019   Sep        48
21  2019   Oct        57
22  2019   Nov        62
23  2019   Dec        75
24  2020   Jan        80
25  2020   Feb        66
26  2020   Mar        62
27  2020   Apr        49
28  2020   May        41
29  2020   Jun        44
30  2020   Jul        36
31  2020   Aug        31
32  2020   Sep        46
33  2020   Oct        56
34  2020   Nov        61
35  2020   Dec        72

In [4]:
# Calculate the monthly average rainfall
monthly_avg = df.groupby('Month')['Rainfall'].mean()
print(monthly_avg)

Month
Apr    48.666667
Aug    31.333333
Dec    72.333333
Feb    66.666667
Jan    81.000000
Jul    36.333333
Jun    43.666667
Mar    62.000000
May    40.000000
Nov    61.000000
Oct    56.000000
Sep    46.333333
Name: Rainfall, dtype: float64

In [5]:
# Calculate the overall monthly average rainfall
overall_monthly_avg = df['Rainfall'].mean()
print(overall_monthly_avg)

53.77777777777778